@import url(./../../styles/globals.css);
.container-socials-footer .logo-container {
    display:none;
}
.container-tools-footer {
    display:none;
}
@media screen and (min-width: 1024px){
    .container-socials-footer{
        background-color: var(--color-main);
        display:flex;
        justify-content:space-between;
    }iframe{
        width:380px;
        height:480px;
    }
    .container-socials-footer .logo-container{
        display:flex;
        height:45px;
        margin-left:50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .container-socials-footer .logo-container h1{
        font-size:14px;
        color:white;
        position:relative;
        font-weight:600;
        /* bottom:2px; */
        line-height: 115%;
    }
    .container-socials-footer .logo-ba{
        height:35px;
        position:relative;
        top:10px;
        margin-left:45px;
        margin-right:85px;
    }
    .container-tools-footer{
        display:flex;
        padding-bottom:15px;
        padding-right:35px;
        justify-content:center;
    }
}
@media screen and (min-width: 1280px){
    .container-tools-footer{
        padding:45px;
    }
    iframe{
        width:580px;
    }
}
@media screen and (min-width: 1440px){
    .container-tools-footer{
        margin:0 auto;
        /* display:flex; */
        justify-content:center;
        align-items:centeR;
        /* flex-wrap:wrap; */
        width:100%;
        padding-left:50px;
        padding-right:50px;
    }
    iframe{
        width:640px;
    }
}