@import url("./../../styles/globals.css");

.ficha-container {
  display: flex;
  flex-direction: column;
/*   width: 328px; */
/*   justify-content: center; */
  align-items: center;
  text-align: left;
  padding: 15px;
  margin-left: 4%;

}
.ficha-container h2 {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 3%;
  text-align: left;
  width: 327px;
  height: 28px;
  /* margin-left: 8%; */
}
.ficha-container h3 {
  font-size: 18px;
  line-height: 100%;
  color: var(--font-primary);
  opacity: 0.95;
}
.ficha-container p {
  font-size: 18px;
  line-height: 19.8px;

}

@media (min-width:1440px){
  .ficha-container h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 3%;
    text-align: left;
    width: 327px;
    height: 28px;
    margin-left: 8%;
  }

  .ficha-container h3 {
    font-size: 28px;
  }

  .ficha-container p {
    font-size: 28px;
  }
}