.container-sinopsis {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  /* width: 328px; */
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 4%; */
  /* margin-left: 4%;
  padding: 15px; */
  text-align: left;
}

.container-sinopsis h2 {
  font-size: 20px;
  line-height: 100%;
  /* width: 327px; */
  height: 28px;
  /* margin-left: 8%; */
  margin-bottom: -3%;
}
.container-sinopsis p {
  font-size: 18px;
  line-height: 19.8px;
  margin-top: 7%;
}

@media (min-width:1440px){
  .container-sinopsis h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
  }

  .container-sinopsis p{
    font-weight: 300;
    font-size: 28px;
    line-height: 110%;
  }
}