*{ /* reseteo CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridProgramacionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridProgracion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin:1rem;
    height: 304px;
    width: 328px;
}

.gridProgracion img {
    z-index:-1;
}

.subtitle{
    margin: 0 1rem;
    width: 328px;
    height: 28px;
    left: 16px;
    top: 592px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #393842;
}


.cardGridUno,
.cardGridDos {
    display: flex;
    flex-direction: column;
    width: 160px;
}


.cardGridUno h3{
    padding-left: 1rem;
    width: 160px;
    height: 38px;
    left: 16px;
    top: 754px;
    background: #D55F60;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FAFAF9;
    display: flex;
    align-items: center;
}


.cardGridDos h3{
    padding-left: 1rem;
    color:white;
    width: 160px;
    height: 38px;
    background: #323786;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FAFAF9;
    text-align: center;
    display: flex;
    align-items: center;
}


    
@media screen and (min-width: 1440px){
    .gridProgracion{
        display:flex;
        gap:1rem;

        width: 1240px;
        height: 280px;
    }

    .gridProgracion div{
        width: 298px;
        height: 280px ;
    }
    
    .gridProgracion h3{
        width: 298px;
        height: 80px;
        left: 100px;
        top: 1072px;
        font-family: 'Antonio';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        /* or 30px */

        display: flex;
        align-items: center;
    }
    .subtitle{
        height: 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-align: start;
        width: 100%;
        margin-bottom: 24px;

    }

    .gridProgramacionContainer{
        height:360px; 
        width: 1240px;
        margin: 0 auto;

    }

}
