@import url('./globals.css');
#artes-escenicas{
    padding:12px;
    font-size:18px;
    line-height: 24px;
}
.img-card-programacion{
    width:328px;
    margin:0 auto;
    margin-bottom:35px;
    margin-top:25px;
}

.img-card-programacion img {
    margin:0 auto;
    display:block;
    z-index: -9;
}

.text-container-programacion{
    background-color: var(--color-main);
    color:var(--blanco);
    padding:8px;
}
.text-container-programacion p{
    font-weight:100;
}
@media screen and (min-width: 1024px){
    #artes-escenicas {
        padding:25px;
    }
    .container-programacion {
        display:flex;
        flex-wrap:wrap;
        align-items: flex-end;
        
    }
    .img-card-programacion{
        width:450px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .img-card-programacion img{
        width:450px;
        object-fit:contain;
    }
}
