
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.subHeader{
    z-index:100;    
}

body{
    font-family: 'Antonio', sans-serif;
    color: var(--font-primary);
}

.nav{
    position:sticky;
    z-index:10000;
    top:0;
}
a{
    color:white;
    text-decoration:none;
}
iframe {
    margin:0 auto;
    display:block;
}

section {
    padding:12px;
}
.links-nav{
    color:inherit;
}
:root{
    --color-main: #323786;
    --color-secondary:#D55F60;
    --font-primary: #393842;
    --blanco: #FAFAF9;
    --gris: #FBF1EF;
}


@media screen and (min-width: 1024px){
    section{
        padding:25px;
    }
    iframe{
        width:420px;
        height:480px;
    }
    #mapa{
        display:block;
        margin:0 auto;
        width: 400px;
        
    }
}
