
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: bebas-neue-pro, sans-serif;
    color: var(--font-primary);
}

font-face{
    font-family: 'Bebas-Neue-Pro';
    src: url(./../fonts/bebas-neue-pro/Bebas-Neue-Pro-Light.otf), url(./../fonts/bebas-neue-pro/Bebas-Neue-Pro-Regular.otf), url(./../fonts/bebas-neue-pro/Bebas-Neue-Pro-Bold.otf), url(./../fonts/bebas-neue-pro/Bebas-Neue-Pro-Thin.otf);
}

:root{
    --color-main: #323786;
    --color-secondary:#D55F60;
    --font-primary: #393842;
    --blanco: #FAFAF9;
<<<<<<< HEAD
}

=======
    --gris: #FBF1EF;
}
>>>>>>> ec129f5b40565958ad5710b3d25f6d9e0408d87c
