.subheader{
    z-index:1000;
}
#institucional{
    padding:12px;
    font-size:18px;
    line-height: 24px;
}

#institucional img {
    position:relative;
    margin:0 auto;
    display:block;
    z-index:-9;
    margin-bottom:20px;
}
#institucional p{
    margin-bottom:20px;
}
#institucional h3{
    margin-bottom:20px;
}
#institucional ul{
    margin-bottom:25px;
    padding-left:20px;
}
#institucional ul li {
    font-weight:400;
    /* padding:5px; */
    font-size:16px;
    
}
#institucional #mapa {
    display:none;
}

@media screen and (min-width: 1024px){
    #institucional{
        padding:30px;
        font-size:20px;
    }
    #institucional ul li{
        font-size:20px;
        margin-bottom:25px;
    }
    .container-institucional{
        display:flex;
        flex-direction:row-reverse;
        position:relative;
        /* align-items:center; */
    }
    .container-institucional img{
        height:300px;
        object-fit: cover;
    }
    #institucional #mapa{
        display:block;
        width: 400px;
    }
}