.accordion ul {
    display: none;
    margin-bottom: 0; 
    /* color: #9c9d9d; */
}

.accordion.open ul{
    display: block;
}

.accordion.open .menu-desplegable .arrow-down{
    transform: rotate(180deg);
    bottom:5px;
    position:relative;
}

.accordion {
    cursor: pointer;
}

.menuOpen{
    bottom:15px;
    position:relative;
}

.menu-desplegable{
    display:flex;
    font-size:21px;
}
.ulMenuProgramacion  {
    position:relative;
    transition:0.5s;
}

/* .ulMenuProgramacion li:hover{
    background-color:var(--color-main);
    color:white;
    transition:0.5s;
} */

@media screen and (min-width: 1024px){
    .ulMenuProgramacion{
        position:absolute;
        background-color:white;
        z-index:155;
        margin:0;
        /* padding:; */
        /* padding-bottom:15px; */
        top:95px;
        /* padding-left:10px; */
    }
    .puntosubmenu{
        width:5px;
        height:5px;
        background-color: var(--color-secondary);
        position:absolute;
        top:14px;
        left:2px;
    }
    .menu-desplegable{
        top: 3.4px;
        position:relative;
    }
    .ulMenuProgramacion li{
        list-style:none;
        padding:5px;
        color:black;
        padding-left:10px;
        position:relative;
        right:5px;
    }
    .ulMenuProgramacion li:hover{
        background-color:transparent;
        color: var(--color-secondary);
        
    }
}