@import url('./globals.css');
header{
    background-color: var(--color-main);
    display:flex;
    justify-content: space-between;
    padding:5px;
}
header img{
    margin-right:5px;
}


.icons{
    color:white;
    display:flex;
    align-items:center;
    margin-left:10px;
}
.icons i{ 
    padding-right:25px;
    font-size:16px;
    display:flex;
    align-items:center;
}
.subHeader{
    display:flex;
    position:sticky;
    overflow:auto;
    /* align-self:flex-start; */
    top:0;
    background-color:var(--blanco);
    margin-top:15px;
    align-items:center;
    padding-left:10px;
    padding-right:15px;
    z-index:1000;
}

.subHeader .title{
    text-transform:uppercase;
    display:block;
    width:100%;
    font-weight: bold;
    font-size:24px;
    margin-left:10px;
    color: var(--font-primary);
}
.subHeader i{
    display:flex;
    justify-content: flex-end;
    width:100%;
    font-size:20px;

}
.container-header-desktop{
    display:none;
}

@media screen and (min-width: 1024px){
    .burger-icon {
        display:none;
    }
        .container-header-desktop{
            display:flex;
            margin:0 auto;
        }
        .container-header-desktop li {
            display:flex;
            text-decoration:none;
            list-style: none;
            align-items:center;
            text-align:center;
            margin-left:70px;
            font-size:16px;
            padding-left:15px;
            padding-right:15px;
            border-radius:8px;
            /* position:relative; */
            /* float:left; */
    
        }
        .container-header-desktop li:active{
            background:var(--color-main);
        }
        .container-header-desktop li:hover{
            background:var(--color-main);
            color:white;
        }
        .container-header-desktop i li{
            font-size:24px;

        }
        .container-header-desktop i li:hover{
            cursor:pointer;
            background:none;
            color:inherit;
        }
        .container-header-desktop a{
            color:inherit;
            margin:0 auto;
            display:flex;
        }

    
    
    
    }
